/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: rgb(251,165,63) linear-gradient(243deg, rgba(251,165,63,1) 0%, rgba(252,102,70,1) 64%);
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
}

h1 {
    color: #fff;
    font-size: 4rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}

.container {
    background-color: rebeccapurple;
    color: #fff;
    width: 40rem;
    padding: 3.125rem 1.25rem;
    border-radius: 6px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.joke_question {
    margin: 3.125rem auto;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 2.5rem;
}