/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: rgb(251,165,63) linear-gradient(243deg, rgba(251,165,63,1) 0%, rgba(252,102,70,1) 64%);
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
}

h1 {
    color: #fff;
    font-size: 4rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}

/* CONTAINER */
.container {
    background-color: rebeccapurple;
    color: #fff;
    width: 40rem;
    padding: 3.125rem 1.25rem;
    border-radius: 6px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}

/* JOKES */
.joke_question {
    margin: 1.5rem auto;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 2.5rem;
}

.joke_answer {
    margin: 2rem auto;
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 2.5rem;
}

/* BUTTON */
button {
    background-color: rgb(251,165,63);
    color: #fff;
    padding: 0.4rem 0.5rem;
    font-size: 1.3rem;
    font-family: inherit;
    letter-spacing: 2px;
    border: 2px solid #eee;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    right: 36%;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

